body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    margin-bottom: 20px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#searchNavBar {
    margin-right: 20px;
}

#burger_menu_icon {
    width: fit-content;
    height: fit-content;

}

#guest_navbar {
    display: none;
}

#admin_navbar {
    display: none;
}

#guest_mobile_navbar {
    display: none;
}

#admin_mobile_navbar {
    display: none;
}

#guest_mobile_navbar {
    display: block;
}

#admin_mobile_navbar {
    display: block;
}

#dropdown {
    width: 150px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav-link {
        font-size: 200%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav-link {
        font-size: 150%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav-link {
        font-size: 125%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .nav-link {
        font-size: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

.nav-link {
    font-size: 100%;
}

#guest_navbar {
    display: block;
}

#admin_navbar {
    display: block;
}

h1 {
    color: #65591A;
}

.specialBrown {
    color: #8d7824;
}

.footer {
    margin-top: auto;
    position: static;
    left: 0;
    right: 0;
    height: auto;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.footer-info {
    flex-direction: column;
}

.footer-content p {
    max-width: 500px;
    margin: auto;
    line-height: 20px;
    font-size: 14px;
}

.footer-info {
    flex-direction: column;
}

.footer-content p {
    max-width: 500px;
    margin: auto;
    line-height: 20px;
    font-size: 14px;
}

#link {
    color: black;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    border: 1.1px solid black;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: grey;
}

#logo {
    width: auto;
    height: 40px;
    margin-left: 20px;
}

.logo-picture {
    width: auto;
    height: auto;
    max-width: 40px;
    max-height: 40px;
}

.partner-logo {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

.partner-logo-big {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

.btn-primary {
    background-color: #2F4E87;
    border-color: #2F4E87;
    color: white;
}

.btn-primary:hover {
    background-color:white;
    border-color:  #2F4E87;
    color:  #2F4E87;
}

.btn-secondary {
    background: #863B6E;
    border-color: white;
    color: white;
}


.btn-secondary:hover {
    background: white;
    border-color: #863B6E;
    color: #863B6E;
}


.btn-danger {
    background-color: #A51F12;
}

.darkTitle {
    color: #0F0E0E;
}

td {
    max-width: 250px;
}

.requiredStar {
    color: rgb(147, 4, 4);
    font-size: 1em;
}

.vacationSession {
    background: greenyellow !important;
}

.verticalText {
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

.table-container {
    overflow-x: scroll;
}

.memberimg-box {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
}

.memberimg {
    padding: 2px;
    height: auto;
    width: auto;
    border: 1px solid darkgray;
}

.partnerimg {
    padding: 2px;
    height: auto;
    width: auto;
}

.table td {
    padding: 5px;
}
