.marginright {
    margin-right: 22px;
    width: 210px;
    justify-self: flex-end;
}
#content {
    position: absolute;
    padding: 0;
    top:50%;
    margin-top: 30px;
    width: 150px;
    list-style-type: none;
    z-index: 1;
    background-color: white;
}
@media screen and (max-width: 1200px) {
    #main-navbar {
        padding: 20px;
    }
}

#dropdown {
    width: 150px;
}

#navbar_toggle:active{
    transform: scale3d(1.01, 1.05, 1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.1);

}



