.selector{
    background-color: inherit;
    border-radius: 20%;
    border: 2px solid;
    padding: 3%;
}

.unselected{
    border: 2px solid black;
    background-color: white;
}

.selected{
    border: 2px solid red;
    background-color: red;
}

.imageContainer{
    margin: 5vw;
    max-width: 200px;
    max-height: 200px;
    width: fit-content;
    height: fit-content;
    border: 2px solid;
    border-color:revert;
    border-radius: 10%;
}

.imageContainer:hover{
    cursor: pointer;
}
