.card{
    color: black;
    max-width: 350px;
}

#bodyDetail{
    max-width: 1200px;
    margin: auto;
    font-size: 18px;
}

.row{
    margin-top: 80px;
}

#cardHeaderEvent{
    background-color: #04ADBF;
    color: white;
}
#cardEvent{
    height: fit-content;
}

.card-img-top{
    object-fit: scale-down;
}

.card-body{
    background-color: #F2F2F2;
    color: black;
}
.card-body i{
    margin-right: 10px;
}

div img{
    width: 300px;
    height: 150px;
}
.title{
    text-align: center;
    font-size: 20px;
}
span{
    margin-right: 10px;
}

a span:hover{
    border-bottom: 2px solid #04ADBF;
}

.bi{
    margin-right: 5px;
    font-size: 18px;
    font-style: inherit;
}

