.wrapper{
    width: 220px;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 7%;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.wrapper:hover{
    opacity: 100%;
}

.btn {
    width: 100%;
}
@media screen and (max-width: 768px) {
    .wrapper{
        display: none;
    }
    .card{
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        padding: 10px;
    }
    #filterButton {
        display: flex;
        border-radius: 20px;
    }
    #filter_mobile{
        display:flex;
    }
    /*#filter_mobile{*/
    /*    position: fixed;*/
    /*    bottom: 2%;*/
    /*    left: 50%;*/
    /*    transform: translate(-50%, -50%);*/
    /*    border-radius: 20px;*/
    /*    z-index: 1;*/
    /*}*/
}
@media screen and (min-width: 780px)
    {
    #filterButton {
        display: none;
    }
    /*#filter_mobile{*/
    /*    display:none;*/
    /*}*/
}

#articleTitle{
    font-size:26px;
}

#articleNav:hover #navText
{
    color:#D64747;
    transition: 0.2s;
}


#sidebarHeader{
    font-size: 20px;
}

