.wrapper{
    width: 220px;
    border: none;
    border-radius: 10px;
    position: sticky;
    top: 15%;
    opacity: 60%;
}
.wrapper:hover{
    opacity: 100%;
    transform: scale(1.02);
    transition: 0.2s;
}

#articleNav:hover{
    background-color: #F2F2F2;
    border-radius: 10px;
    transition: 0.2s;
}


#sidebarHeader{
    font-size: 20px;
}
