
img {
    width: 100%;
    height: 12lh;
    object-fit: cover;
}




@media (max-width: 768px) {
    #carouselContainer {
        width: 100%;
        height: 12lh;
        object-fit: cover;
    }
}
